{% extends 'base.html'  %}

<!-- headline -->
{% block headline %}
<div>
    <h1><a href='/NoticeBoard'>NoticeBoard</a></h1>
</div>
{% endblock %}

{%block contents%}
<!-- 본문  -->
<div>
    <form action="{% url 'noticeboard:create' %}" method="post">
        {% csrf_token %}
        <div>
            <input type='text' name='ftitle' placeholder="title">
            <input type='text' name="fcreater" placeholder="who?">
        </div>

        <div>
            <textarea name='ftext_body' placeholder="content" cols="60" rows="10"></textarea>
        </div>

        <div>
            <!-- 글 제출 버튼 -->
            <input type="submit" value="글쓰기">
        </div>
</div>
{% endblock %}
