{% extends 'base.html'  %}

{%block contents%}
<!-- 본문  -->
<div>
    <form action="{% url 'noticeboard:create' %}" method="post">
        {% csrf_token %}
        <div>
            <input type='text' name='ftitle' placeholder="title">
            <input type='text' name="fauthor" placeholder="who?">
        </div>

        <div>
            <textarea name='fcontents' placeholder="content" cols="60" rows="10"></textarea>
        </div>

        <div>
            <!-- 글 제출 버튼 -->
            <input type="submit" value="글쓰기">
        </div>
</div>
{% endblock %}
