{% extends 'base.html'  %}

{%block contents%}
    
<div class="container my-3">
    <!-- 본문  -->
    <h2 class="border-bottom py-2">{{text_list.title}}</h2>
    <div class="d-flex justify-content-end my-3">
        <div class="badge  text-dark">
            {{text_list.author}} - 
            {{text_list.create_date}}
        </div>
    </div>
     <div class="card text-dark bg-light my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{text_list.contents}}
            </div>
        </div>
     </div>

    <!-- 삭제, 수정 버튼  -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if user_dict.present_user == user_dict.create_author%}
            <button class="btn btn-primary" type="button" onClick="location.href='update'">수정</button>
            <form action="{% url 'noticeboard:delete' text_id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">삭제</button>
            </form>
        {% endif %}
    </div>
    

    <!-- 댓글  -->
    <h6 class="border-bottom py-2">댓글</h6>
    <!-- 댓글 작성-->
    
    <form action="{% url 'noticeboard:comment_create' text_id %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-between">
            <div class="col-10">
                <input class="form-control" type='text' name='fcomment'>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">댓글작성</button>
            </div>
            
        </div>
    </form>

    <!-- 댓글 목록 -->
        {% if comment_list %}
            {% for comment in comment_list %}
            <div class="card text-dark bg-light mx-3 my-3">
                <div class="mx-2 my-2">
                    {{ comment.contents }}
                    <div class="d-flex justify-content-end">
                        <div class="badge  text-dark">
                            {{comment.create_date}}
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        {% else %}
            <h6 class="border-bottom py-2">No comment are available.</h6>
        {% endif %}
    </div>
</div>
{% endblock %}