{% extends 'base.html'  %}

<!-- headline -->
{% block headline %}
<div>
    <h1>NoticeBoard</h1>
</div>
{% endblock %}

{%block contents%}
<!-- 글 목차  -->
<div>
    <h2>Contents</h2>
    <ul>
        {% if text_list %}
        <ul>
            {% for text in text_list %}
                <li><a href="{% url 'detail' text.id %}">{{ text.text_title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </ul>
</div>

<!-- 글 작성 버튼 -->
<div>
    <form action="{% url 'create' %}" method="get">
        <p>
            {% csrf_token %}
            <input type="submit" value="글쓰기">
        </p>
    </form>
</div>
{%endblock%}