{% extends 'board/base.html'  %}

<!-- headline -->
{% block headline %}
<div>
    <h1><a href='/NoticeBoard'>NoticeBoard</a></h1>
</div>
{% endblock %}

{%block contents%}
    <!-- 본문  -->
    <div>
        <form action="{% url 'update' text_id %}" method="post">
            {% csrf_token %}
            <div>
                <input type='text' name='ftitle' value={{text_list.text_title}} placeholder="title">
                <input type='text' name="fcreater" value={{text_list.creater}} placeholder="who?">
                <textarea name='ftext_body' placeholder="content" cols="60" rows="10">{{text_list.text_body}}</textarea>
            </div>

            <div>
                <!-- 글 제출 버튼 -->
                <input type="submit" value="수정하기">
            </div>
    </div>
{% endblock %}