{% extends 'base.html'  %}

{%block contents%}
<div class="container my-3">
    <form action="{% url 'member:signup' %}" method="POST">
        {% csrf_token %}
        <!-- error -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for input_field in form %}
            {% if input_field.errors %}
            <div>
                {{input_field.label}} : {{input_field.errors}}
            </div>
            {% endif %}
            {% endfor %}

            {% for error in form.non_field_errors %}
            <div>
                {{error}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
{%endblock%}

{{form.errors}}